<h1>Login</h1>
<%= form_tag '/login' do %>
  <%= label_tag :username%>
  <%= text_field_tag :username %>
  <%= label_tag :password_digest%>
  <%= password_field_tag :password_digest%>
  <%= submit_tag "Login"%>
<%end%>