<h1>Sign Up</h1>

<%= form_for @user do |f|%>
  <%= f.label :username%><br>
  <%= f.text_field :username%><br>
  <%= f.label :password_digest%><br>
  <%= f.password_field :password_digest%><br>
  <%= f.submit %>
<%end%>